.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  height: 4rem;
  padding: 16px;
  background-color: #e8e8e8;
  border-bottom: 0.2px solid black;
}

.header__start-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content {
  border: 1px solid black;
  flex-basis: 8;
  background-color: yellow;
  min-height: 50rem;
}
